.brockmann1 {
  font-size: 110px; /* Set font size to 110 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 600; /* Semi-bold */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.03em; /* -3% */
}

.brockmann2 {
  font-size: 72px; /* Set font size to 72 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 500; /* Medium */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.01em; /* -1% */
}

.brockmann3 {
  font-size: 60px; /* Set font size to 60 pixels */
  font-family: 'Brockmann', sans-serif; /* Example font family */
  font-weight: 600; /* Semibold */
  line-height: 1.02; /* 102% */
  letter-spacing: -0.02em; /* -2% */
}

/* .merienda {
  font-family: 'Merienda', cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */